# Handbook

This notebook is here to help you visualize the data

In [1]:
import sys
sys.path.append('../../src')
from util import *
from config import *
import plots
import ipynbname
from study_gen import study

## Samples attributes

In [16]:
study.df[['sample','DMS_conc_mM', 'buffer', 'date', 'exp_env', 'inc_time_tot_secs',  'temperature_k', 'user']].drop_duplicates().reset_index(drop=True)

,sample,DMS_conc_mM,buffer,date,exp_env,inc_time_tot_secs,temperature_k,user
0,05_1_S24_reads,52.7,buffer,1/5/23,in_vitro,300,310,Lauren
1,lauren474_S5,0.0,None,1/5/23,in_vivo,0,295,Lauren
2,2_1_s28new_reads,211.0,buffer,1/5/23,in_vitro,300,310,Lauren
3,1_1_S26new_reads,105.0,buffer,1/5/23,in_vitro,300,310,Lauren
4,10_1_s32new_reads,1054.0,buffer,1/5/23,in_vitro,300,310,Lauren
5,01_02_S23_reads,10.5,buffer,1/5/23,in_vitro,300,310,Lauren
6,lauren470_S1,211.0,None,1/5/23,in_vivo,180,310,Lauren
7,5_1_S30new_reads,527.0,buffer,1/5/23,in_vitro,300,310,Lauren
8,lauren473_S4,0.0,None,1/5/23,in_vivo,0,310,Lauren
9,2_2_S29new_reads,211.0,buffer,1/5/23,in_vitro,300,310,Lauren
10,lauren471_S2,0.0,None,1/5/23,in_vivo,0,310,Lauren
11,5_2_S31_reads,527.0,buffer,1/5/23,in_vitro,300,310,Lauren
12,10_2_s33new_reads,1054.0,buffer,1/5/23,in_vitro,300,310,Lauren
13,1_2_S27new_reads,105.0,buffer,1/5/23,in_vitro,300,310,Lauren
14,lauren472_S3,211.0,None,1/5/23,in_vivo,180,310,Lauren
15,Lauren_603_10min_S9_L001,211.0,None,1/5/23,in_vivo,600,310,Lauren
16,lauren475_S6,0.0,None,1/5/23,in_vivo,0,295,Lauren
17,01_1_S22_reads,10.5,buffer,1/5/23,in_vitro,300,310,Lauren
18,05_2_S25_reads,52.7,buffer,1/5/23,in_vitro,300,310,Lauren

## List of constructs with sequence

In [17]:
study.df[study.df['section']=='full'][['construct', 'sequence']].drop_duplicates().reset_index(drop=True)

,construct,sequence
0,3042-O-flank_1=hp1-DB,TTAAACCGGCCAACATACCGCATATGAGGATCACCCATATGCTCAA...
1,3043-CC-flank_1=hp1-DB,TTAAACCGGCCAACATACCGCATATGAGGATCACCCATATGCTCAA...
2,3044-O-flank_1=hp1-DB,TTAAACCGGCCAACATACCGCATATGAGGATCACCCATATGCTCAG...
3,3045-CC-flank_1=hp1-DB,TTAAACCGGCCAACATACCGCATATGAGGATCACCCATATGCTCAG...
4,3046-O-flank_1=hp1-DB,TTAAACCGGCCAACATACCGCATATGAGGATCACCCATATGCTCGA...
...,...,...
624,3667-O-flank_1=bi12-kshv-DB,TTAAACCGGCCAACATACCGCATATGAGGATCACCCATATGCTCGG...
625,3668-O-flank_1=bi12-kshv-DB,TTAAACCGGCCAACATACCGCATATGAGGATCACCCATATGCTCGA...
626,3669-O-flank_1=bi12-kshv-DB,TTAAACCGGCCAACATACCGCATATGAGGATCACCCATATGCTCAC...
627,3670-O-flank_1=bi12-kshv-DB,TTAAACCGGCCAACATACCGCATATGAGGATCACCCATATGCTCCA...
628,3398-O-flank_1=lp4-DB,TTAAACCGGCCAACATACCGCATATGAGGATCACCCATATGCTCTG...

## List of constructs with sections and sequences

In [20]:
study.df[['construct', 'section','section_start','section_end','sequence']].drop_duplicates().reset_index(drop=True)

,construct,section,section_start,section_end,sequence
0,3042-O-flank_1=hp1-DB,LAH,69,86,CACAGTCGAAAGACTGTG
1,3042-O-flank_1=hp1-DB,MS2,20,42,GCATATGAGGATCACCCATATGC
2,3042-O-flank_1=hp1-DB,ROI,45,66,AAGATATTCGAAAGAATATCTT
3,3042-O-flank_1=hp1-DB,TC1,43,44,TC
4,3042-O-flank_1=hp1-DB,TC2,67,68,TC
...,...,...,...,...,...
5027,3398-O-flank_1=lp4-DB,TC1,43,44,TC
5028,3398-O-flank_1=lp4-DB,TC2,54,55,TC
5029,3398-O-flank_1=lp4-DB,barcode,140,151,ACAAGGAACGTA
5030,3398-O-flank_1=lp4-DB,buffer,74,139,TCTCTCTCTTCCTTTTTCTCTTCCTCTTTCTCTTTCTCTTTCTCTT...
5031,3398-O-flank_1=lp4-DB,full,1,170,TTAAACCGGCCAACATACCGCATATGAGGATCACCCATATGCTCTG...

## List of families with constructs

In [ ]:
study.df[['family','construct']].drop_duplicates().reset_index(drop=True)